.stamp-border {
    /* Background */
    background-color: #d1d5db;
    background-image: radial-gradient(#fff 50%, transparent 50%);
    background-position: -0.5rem 0.1rem;
    background-repeat: repeat-y;
    background-size: 1rem 1rem;

    /* Spacing */
    padding: 0.5rem;
}

.stamp-border__content {
    /* Background */

    height: 100%;
    width: 100%;
}
